#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/ecommerce
#    username: postgres
#    password: postgres
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#jwt:
#  secret: mySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong
#  expiration: 86400000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
